{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Lato:400i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/business_owners_info.css' %}" />
{% endblock %}

{% block body%}
    <div id="container">
        <h1>How Can teenjobs Help Your Business?</h1>
        <h2>We can help you find minimum wage employees in the blink of an eye:</h2>
    <p>If your business is like most, finding minimum wage help is not always easy. You
    hope that the sign on the door works and someone walks in and asks for a job. And until now this
    was the best route, as Craigslist charges around $45 a job post and job sites such as Monster charge
    $80! Clearly, these websites are meant to help businesses attract college degree wielding workers.
    TeenJobs solves this problem, for just $9.99 per job post(first post free) you will submit your post
    to tens/hundreds/thousands(depends on your location) of people in your area looking ONLY for minimum
    wage work!</p>

    <h2 id="testimonials_header">Testimonials from Small Business Owners</h2>
    <ul>
        <li class="testimonials" class="lead">"For many months I struggled to find delivery boys, never having a set schedule
        with any of my drivers. I posted an ad for a delivery boy on TeenJobs and within 2 days I had 4
        students stop by my restaurant looking for work! TeenJobs is the only way I'll find workers now!"
        </li>
        <li class="testimonials">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid autem deserunt dignissimos, earum exercitationem facilis fugiat maiores nobis numquam possimus quaerat quas repellendus sed sequi voluptas voluptate voluptatum? Aliquid consequuntur doloribus ea, magnam optio quo unde. Adipisci consectetur delectus dignissimos facilis iste libero nisi odio repudiandae soluta veniam? A ad aperiam architecto beatae consectetur dolor eveniet molestias, repellat sed vitae! Aperiam modi, reprehenderit? Accusamus dignissimos distinctio esse et fuga harum nisi possimus! Animi asperiores iusto possimus repellat sapiente!</li>
        <li class="testimonials">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae, commodi corporis dolore doloribus enim eveniet fugit hic impedit ipsum mollitia neque, nobis nulla praesentium, quia quisquam quo quod recusandae repellat repudiandae sit tempora vero! Adipisci deserunt iure quas tempore.</li>
    </ul></div>

{% endblock %}