nav{
    background-color: #0074D9 !important;
    padding-top: 40px !important;
    border-bottom: .1px solid #eeeeee;
}


li{
    padding: 0px 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
a{
    color: white !important;
}
a:hover{
    color: black !important;
}


footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


    margin-top: 20px;
    padding: 20px 75px;
    border-top: 1px outset #eeeeee;
    border-radius: 2px;

}

.footer_item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #001f3f !important;

}







button{
    background-color: white !important;
}






h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}